[submodule "e2guardian"]
	path = e2guardian
	url = https://github.com/e2guardian/e2guardian.git
[submodule "libestr"]
	path = libestr
	url = https://github.com/rsyslog/libestr.git
[submodule "rsyslog"]
	path = rsyslog
	url = https://github.com/rsyslog/rsyslog.git
[submodule "libfastjson"]
	path = libfastjson
	url = https://github.com/rsyslog/libfastjson.git
[submodule "liblogging"]
	path = liblogging
	url = https://github.com/rsyslog/liblogging.git
[submodule "Squid"]
	path = Squid
	url = https://github.com/squid-cache/squid.git
[submodule "knfinit"]
	path = knfinit
	url = https://github.com/fkocik/knfinit.git
